.Timeline__space {
  height: 200px;
}

hr {
  width: 80%;
  border: 0;
  background-color: white;
  height: 5px;
}

.Timeline__section {
  margin: 0px;
  bottom: 0px;
  width: 4000px;
  float: left;
  height: 100%;
}

.Timeline__section h2 {
  font-size: 4em;
}

.Timeline__section p {
  width: 600px;
}

.blue {
  background: lightblue;
}
